@import "base/variables";

//foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

//components
.header {
	text-align: center;
}

.active {
	background-color: white;
	height: 100%;
	border-radius: 10px;
}

.actor {
	height: 100px;
	background-color: orange;
	margin: 2px;
}